body {
    margin-left: 400px;
}

.menu {
    display: inline;
}

img {
    display: inline;
}

nav {
    margin-left: 300px;
    margin-top: -140px;
}

nav li {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a {
    color: #DAA520;
    margin-left: 10px;
}

nav a:hover {
    color: #CD853F;
}

main {
    margin-top: 100px;
    margin-right: 400px;
    margin-left: -50px;
}

.descrição {
    color: #8B4513;
    font-size: 30px;
    margin-right: 400px;
    margin-left: -50px;
}

p {
    text-align: justify;
    font-size: 20px;
    color: #8B4513;
    margin-right: 350px;
    margin-left: -50px;
    margin-bottom: 100px;
}

footer {
    color: #8B4513;
    text-align: right;
    margin-right: 350px;
    margin-bottom: 50px;
}